.permVLine {
    stroke: green;
    stroke-width: 3;
}

.curveLine {
    fill: none;
    opacity: 0.5;
    stroke: steelblue;
    stroke-width: 1.5;
}

.schoolScoreText {
    text-anchor: start;
    font-size: 10px;
}

.dynamicVLine {
    stroke: brown;
    z-index: 999;
}

.dynamicCircle {
    opacity: 0.4;
    fill: darkred;
    z-index: 999;
}