# dependencies
.pnpm-store
node_modules

# testing
coverage

# production
build

# machine specific
.DS_Store

# environment variables and keys
.env
.env.production

# dev environment
.idea
.vscode

# log files
.pnpm-debug.log

# hosting
firebase-debug.log
.firebaserc
.firebase

.env
!.env.test