# dependencies
**/node_modules

# testing
**/coverage

# production
**/build

# machine specific
**/.DS_Store

# environment variables and keys
**/.env
**/.env.production

# dev environment
.idea
.vscode

# hosting
**/firebase-debug.log
**/.firebaserc
**/.firebase
