# dependencies
/node_modules
.yarn
.pnp
.pnp.loader.mjs
.pnp.cjs

# testing
/coverage

# production
/build
/public/dist

# machine specific
**/.DS_Store

# environment variables and keys
.env
.env.local
.env.development.local
.env.test.local
.env.prod

/.eslintcache

# dev environment
.idea
.vscode

# hosting
firebase-debug.log
.firebaserc
.firebase
