.studentsVizTooltip {
    position: absolute;
    z-index: 999;
    display: none;
    background-color: white;
    font-family: arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border: grey solid 1px;
    border-radius: 5px;
}

.arcSlice:hover {
    opacity: 1;
}
